{% extends 'catalog/base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow-sm mt-5">
            <div class="card-body">
                <h3 class="card-title text-center mb-4">Giriş Yap</h3>
                
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success w-100">Giriş</button>
                </form>
                
                <div class="mt-3 text-center">
                    <small>Hesabınız yok mu? <a href="{% url 'register' %}">Kayıt Ol</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}